.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 100px;
    /*width: 100%;*/
}

.title {
    /*width: 1720px;*/
    height: 32px;

    font-family: 'Source Code Pro', system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
