::selection {
    background-color: rgba(0, 166, 140, 0.5);
}

#root {
    position: relative;
    padding-top: 32px;
}


@media only screen and (max-width: 1000px) {
    #root {
        padding-top: 0;
    }
}